body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial,sans-serif;
}
.player-inputs{
    margin-bottom: 20px;
}
.player-inputs input{
    margin: 0 10px;
    padding: 5px;
    font-size: 1rem;
}
.player-inputs button{
    padding: 5px 10px;
    font-size: 1rem;
}
.gameboard{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 10px;
    margin-bottom: 20px;
}
.cell{
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: solid #e0e0e0 1px;
    font-size: 2rem;
    cursor: pointer;
}
.cell:hover{
    background-color: #e0e0e0;
}
#restart,#start-game{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
}
#result-display{
    font-size: 1.2rem;
    font-weight: bold;
}